article {
  color: #191a1e;
  margin: 3vh 6vw;
  opacity: 0;
  transition: opacity 0.25s;
}

.visible {
  opacity: 1;
}

#article-name {
  margin: 0;
  font-size: 3rem;
}

#article-contributors {
  margin-top: 1rem;
  color: #595d6b;
}

#article-contributor-bubbles {
  display: flex;
}

#article-contributor-bubbles a {
  display: flex;
}

#article-contributor-bubbles a img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
  background-color: #595d6b;
  border-radius: 100%;
  display: inline-block;
}

#article-contribs-text {
  font-size: 1rem;
  margin-top: 1rem;
}

#article-contribs-divider {
  margin: 0 0.5rem;
}

#article-update-time {
  display: inline-block;
}

/* Content */
#article-content {
  margin-top: 3vh;
  line-height: 2rem;
  font-size: 1rem;
  margin-bottom: 18vh;
  overflow-wrap: anywhere;
}

#article-content p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

#article-content h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

#article-content h2 {
  font-size: 1.3rem;
  margin: 1rem 0;
}

#article-content a {
  color: #3c78d8;
  text-decoration: none;
  font-weight: bold;
}

#article-redirect-notif {
  margin-top: 1vh;
  margin-bottom: 2vh;
}

#article-content:focus, #article-content h1:focus, #article-content h2:focus, #article-content h3:focus, #article-content div:focus {
  outline: none;
}

.article-link-invalid {
  color: #e95b5b !important;
}

#editor-formatter {
  position: fixed;
  bottom: 0;
}

#editor-formatter > div {
  display: inline-block;
  margin-right: 1rem;
}

#link-formatter {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #6b6a6a7a;
  z-index: 3;
  top: 0;
  opacity: 0;
  transition: opacity 0.1s;
  visibility: hidden;
}

.link-formatter-open {
  opacity: 1 !important;
  visibility: visible !important;
}

#link-formatter-ui {
  bottom: 0;
  background-color: white;
  padding: 10vw;
  position: fixed;
  width: 100%;
}

#link-formatter-ui form {
  width: 80%;
}

#link-formatter-ui > form > div:nth-child(1) {
  margin-top: 0;
}

#link-formatter-ui > form > div {
  margin-top: 1rem;
}

.link-formatter-ui-label {
  font-weight: bold;
  font-size: 1.25rem;
}

#link-formatter-ui > form > div > input {
  margin-top: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

/* Responsive stuff */
@media screen and (min-width: 425px) {
  
  #article-contributors {
    display: flex;
    align-items: center;
  }
  
  #article-contribs-text {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  
  #article-contributor-bubbles span {
    width: 2.5rem;
    height: 2.5rem;
  }
  
}

@media screen and (min-width: 1024px) {
  
  #article-container {
    width: 70vw;
    float: right;
  }
  
  #article-contributor-bubbles span {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  #article-contribs-text {
    margin-left: 0;
  }
  
  #article-contribs-divider {
    margin: 0 0.5rem;
  }
  
}