header {
  background-color: #899ff0;
  height: 7vh;
}

#header-wiki-name {
  color: white;
  font-weight: bold;
  letter-spacing: 0.025rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  #header-wiki-name {
    letter-spacing: 0.1vw;
    width: 30%;
    font-size: 2vw;
  }
}