nav {
  background-color: #899ff0;
  height: 100vh;
  overflow: hidden;
  color: white;
  position: fixed;
  width: 100vw;
  opacity: 1;
  left: 0;
  top: 0;
  z-index: 3;
  transition: opacity 0.15s, height 0.2s, width 0.2s, left 0.2s, top 0.2s;
}

.nav-closed {
  position: fixed;
  width: 0vw;
  height: 0vh;
  left: 50vw;
  top: 90vh;
  transition: opacity 0.15s, height 0.2s, width 0.2s, left 0.2s, top 0.2s;
}

.outline-invisible {
  opacity: 0;
}

/* Logo */
#no-img-header {
  font-weight: bold;
  text-align: center;
  font-size: 7vw;
  margin-top: 4%;
  letter-spacing: 0.25vw;
  height: 5%;
}

/* Topic info */
#nav-topic-info {
  height: 6%;
}

#nav-topic-name {
  margin-top: 4%;
  padding-top: 3%;
  font-weight: bold;
  padding-bottom: 3%;
  background-color: #7a91e6;
}

#nav-topic-name-text {
  font-size: 7.5vw;
  text-align: center;
  letter-spacing: 0.25vw;
}

/* Outline info */
#nav-outline {
  height: 58%;
}

#nav-outline-header {
  text-transform: uppercase;
  margin-top: 6%;
  margin-left: 8%;
}

#nav-outline-list {
  font-size: 7.5vw;
  height: 95%;
  overflow: hidden auto;
}

#nav-outline-list a {
  color: white;
}

#nav-outline-list h1, #nav-outline-list h2, #nav-outline-list h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10vw;
}

#nav-outline-list h1 {
  margin-left: 8%;
  font-size: 1em;
  margin-top: 4%;
  margin-bottom: 0;
}

#nav-outline-list h2 {
  margin-left: 16%;
  font-size: 0.75em;
  font-weight: normal;
}

#nav-outline-list h3 {
  margin-left: 24%;
  font-weight: normal;
  font-size: 0.5em;
}

/* File info */
#nav-close {
  height: 16%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-close button {
  display: flex;
  justify-content: center;
  height: 60%;
  background: #c0d4ff;
  border-radius: 12vw;
  border: none;
  width: 70%;
}

#nav-close svg {
  width: 20%;
  height: 100%;
}

#nav-close button div {
  font-size: 11vw;
  text-transform: uppercase;
  margin-left: 3vw;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  color: #4d5987;
}

/* When the nav is closed */
#show-outline {
  display: none;
  /*display: flex;*/
  justify-content: center;
  height: 7vh;
  background: #c0d4ff;
  border-radius: 12vw;
  border: none;
  width: 70vw;
  position: fixed;
  bottom: 5vh;
  left: 15vw;
  z-index: 2;
}

#show-outline > div {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  color: #4d5987;
}

@media screen and (min-width: 1024px) {
  nav {
    background: none;
  }
  
  #nav-outline-list {
    color: black;
    font-size: 1vw;
  }
  
  #show-outline, #nav-close {
    display: none;
  }
  
  .outline-invisible {
    opacity: 1;
  }
  
  .nav-closed {
    height: 93vh;
    left: 0;
    top: 7vh;
    width: 20vw;
    transition: none;
  }
  
  #no-img-header {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    font-size: 2vw;
    letter-spacing: 0.1vw;
    border-right: 0.3vw solid rgb(122, 145, 230);
  }
  
  #nav-topic-name {
    margin-top: 10%;
  }
  
  #nav-topic-name-text {
    font-size: 1.25vw;
    letter-spacing: 0.1vw;
  }
  
  #nav-outline-list a {
    color: black;
  }
  
  #nav-outline-list a:hover {
    color: #3c78d8;
  }
  
  #nav-outline-list h1, #nav-outline-list h2, #nav-outline-list h3 {
    padding-right: 1vw;
  }
  
  #nav-outline-list h1 {
    font-size: 1.5vw;
  }
  
  #nav-outline-list h2 {
    font-size: 1.25vw;
  }
  
  #nav-outline-list h3 {
    font-size: 1vw;
  }
}